In [70]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [71]:
loc = "../input/football-results-and-betting-odds-data-of-epl/"

data1.to_csv('data1.csv', index=False)

In [72]:
raw_data_1 = pd.read_csv(loc + '2000-2001.csv')
raw_data_2 = pd.read_csv(loc + '2001-2002.csv')
raw_data_3 = pd.read_csv(loc + '2002-2003.csv')
raw_data_4 = pd.read_csv(loc + '2003-2004.csv',error_bad_lines=False)
raw_data_5 = pd.read_csv(loc + '2004-2005.csv',error_bad_lines=False)
raw_data_6 = pd.read_csv(loc + '2005-2006.csv')
raw_data_7 = pd.read_csv(loc + '2006-2007.csv')
raw_data_8 = pd.read_csv(loc + '2007-2008.csv')
raw_data_9 = pd.read_csv(loc + '2008-2009.csv')
raw_data_10 = pd.read_csv(loc + '2009-2010.csv')
raw_data_11 = pd.read_csv(loc + '2010-2011.csv')
raw_data_12 = pd.read_csv(loc + '2011-2012.csv')
raw_data_13 = pd.read_csv(loc + '2012-2013.csv')
raw_data_14 = pd.read_csv(loc + '2013-2014.csv')
raw_data_15 = pd.read_csv(loc + '2014-2015.csv')
raw_data_16 = pd.read_csv(loc + '2015-2016.csv')
raw_data_17 = pd.read_csv(loc + '2016-2017.csv')
raw_data_18 = pd.read_csv(loc + '2017-2018.csv')
raw_data_19 = pd.read_csv(loc + '2018-2019.csv')
raw_data_20 = pd.read_csv(loc + '2019-2020.csv')
raw_data_21 = pd.read_csv(loc + '2020-2021.csv')

b'Skipping line 305: expected 57 fields, saw 72\nSkipping line 306: expected 57 fields, saw 72\nSkipping line 307: expected 57 fields, saw 72\nSkipping line 308: expected 57 fields, saw 72\nSkipping line 309: expected 57 fields, saw 72\nSkipping line 310: expected 57 fields, saw 72\nSkipping line 311: expected 57 fields, saw 72\nSkipping line 312: expected 57 fields, saw 72\nSkipping line 313: expected 57 fields, saw 72\nSkipping line 314: expected 57 fields, saw 72\nSkipping line 315: expected 57 fields, saw 72\nSkipping line 316: expected 57 fields, saw 72\nSkipping line 317: expected 57 fields, saw 72\nSkipping line 318: expected 57 fields, saw 72\nSkipping line 319: expected 57 fields, saw 72\nSkipping line 320: expected 57 fields, saw 72\nSkipping line 321: expected 57 fields, saw 72\nSkipping line 322: expected 57 fields, saw 72\nSkipping line 323: expected 57 fields, saw 72\nSkipping line 324: expected 57 fields, saw 72\nSkipping line 325: expected 57 fields, saw 72\nSkipping line 326: expected 57 fields, saw 72\nSkipping line 327: expected 57 fields, saw 72\nSkipping line 328: expected 57 fields, saw 72\nSkipping line 329: expected 57 fields, saw 72\nSkipping line 330: expected 57 fields, saw 72\nSkipping line 331: expected 57 fields, saw 72\nSkipping line 332: expected 57 fields, saw 72\nSkipping line 333: expected 57 fields, saw 72\nSkipping line 334: expected 57 fields, saw 72\nSkipping line 335: expected 57 fields, saw 72\nSkipping line 336: expected 57 fields, saw 72\nSkipping line 369: expected 57 fields, saw 62\nSkipping line 370: expected 57 fields, saw 62\nSkipping line 371: expected 57 fields, saw 62\nSkipping line 372: expected 57 fields, saw 62\nSkipping line 373: expected 57 fields, saw 62\nSkipping line 374: expected 57 fields, saw 62\nSkipping line 375: expected 57 fields, saw 62\nSkipping line 376: expected 57 fields, saw 62\nSkipping line 377: expected 57 fields, saw 62\nSkipping line 378: expected 57 fields, saw 62\nSkipping line 379: expected 57 fields, saw 62\nSkipping line 380: expected 57 fields, saw 62\nSkipping line 381: expected 57 fields, saw 62\n'
b'Skipping line 337: expected 57 fields, saw 62\nSkipping line 338: expected 57 fields, saw 62\nSkipping line 339: expected 57 fields, saw 62\nSkipping line 340: expected 57 fields, saw 62\nSkipping line 341: expected 57 fields, saw 62\nSkipping line 342: expected 57 fields, saw 62\nSkipping line 343: expected 57 fields, saw 62\nSkipping line 344: expected 57 fields, saw 62\nSkipping line 345: expected 57 fields, saw 62\nSkipping line 346: expected 57 fields, saw 62\nSkipping line 347: expected 57 fields, saw 62\nSkipping line 348: expected 57 fields, saw 62\nSkipping line 349: expected 57 fields, saw 62\nSkipping line 350: expected 57 fields, saw 62\nSkipping line 351: expected 57 fields, saw 62\nSkipping line 352: expected 57 fields, saw 62\nSkipping line 353: expected 57 fields, saw 62\nSkipping line 354: expected 57 fields, saw 62\nSkipping line 355: expected 57 fields, saw 62\nSkipping line 356: expected 57 fields, saw 62\nSkipping line 357: expected 57 fields, saw 62\nSkipping line 358: expected 57 fields, saw 62\nSkipping line 359: expected 57 fields, saw 62\nSkipping line 360: expected 57 fields, saw 62\nSkipping line 361: expected 57 fields, saw 62\nSkipping line 362: expected 57 fields, saw 62\nSkipping line 363: expected 57 fields, saw 62\nSkipping line 364: expected 57 fields, saw 62\nSkipping line 365: expected 57 fields, saw 62\nSkipping line 366: expected 57 fields, saw 62\nSkipping line 367: expected 57 fields, saw 62\nSkipping line 368: expected 57 fields, saw 62\nSkipping line 369: expected 57 fields, saw 62\nSkipping line 370: expected 57 fields, saw 62\nSkipping line 371: expected 57 fields, saw 62\nSkipping line 372: expected 57 fields, saw 62\nSkipping line 373: expected 57 fields, saw 62\nSkipping line 374: expected 57 fields, saw 62\nSkipping line 375: expected 57 fields, saw 62\nSkipping line 376: expected 57 fields, saw 62\nSkipping line 377: expected 57 fields, saw 62\nSkipping line 378: expected 57 fields, saw 62\nSkipping line 379: expected 57 fields, saw 62\nSkipping line 380: expected 57 fields, saw 62\nSkipping line 381: expected 57 fields, saw 62\n'

In [73]:
# 查看每一列的数据缺失率
raw_data_1.apply(lambda x:sum(x.isnull())/len(x), axis=0)

Div           0.000000
Date          0.000000
HomeTeam      0.000000
AwayTeam      0.000000
FTHG          0.000000
FTAG          0.000000
FTR           0.000000
HTHG          0.000000
HTAG          0.000000
HTR           0.000000
Attendance    0.002632
Referee       0.000000
HS            0.000000
AS            0.000000
HST           0.000000
AST           0.000000
HHW           0.000000
AHW           0.000000
HC            0.000000
AC            0.000000
HF            0.000000
AF            0.000000
HO            0.000000
AO            0.000000
HY            0.000000
AY            0.000000
HR            0.000000
AR            0.000000
HBP           0.000000
ABP           0.000000
GBH           0.218421
GBD           0.218421
GBA           0.218421
IWH           0.005263
IWD           0.005263
IWA           0.005263
LBH           0.013158
LBD           0.013158
LBA           0.013158
SBH           0.147368
SBD           0.147368
SBA           0.147368
SYH           0.018421
SYD           0.018421
SYA           0.018421
WHH           0.015789
WHD           0.015789
WHA           0.015789
dtype: float64

In [74]:
# 转换为datetime
raw_data_1['Date'] = pd.to_datetime(raw_data_1['Date'], errors='coerce')

raw_data_1['Date'] = pd.to_datetime(raw_data_1['Date'], errors='coerce')

In [75]:
# Parse data as time 

# str转换为datetime
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

#raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
raw_data_2.Date = raw_data_2.Date.apply(parse_date_other)    
raw_data_3.Date = raw_data_3.Date.apply(parse_date_other)         # The date format for this dataset is different  
raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)
raw_data_13.Date = raw_data_13.Date.apply(parse_date)
raw_data_14.Date = raw_data_14.Date.apply(parse_date)
raw_data_15.Date = raw_data_15.loc[0:379].Date.apply(parse_date)
raw_data_16.Date = raw_data_16.Date.apply(parse_date)
raw_data_17.Date = raw_data_17.Date.apply(parse_date)
raw_data_18.Date = raw_data_18.Date.apply(parse_date_other)
raw_data_19.Date = raw_data_19.Date.apply(parse_date_other)
raw_data_20.Date = raw_data_20.Date.apply(parse_date_other)
#raw_data_21.Date = raw_data_21.Date.apply(parse_date_other)

In [76]:
odds_data2 = raw_data_2[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data3 = raw_data_3[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data4 = raw_data_4[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data5 = raw_data_5[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data6 = raw_data_6[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data7 = raw_data_7[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data8 = raw_data_8[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data9 = raw_data_9[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data10 = raw_data_10[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data11 = raw_data_11[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data12 = raw_data_12[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data13 = raw_data_13[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data14 = raw_data_14[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data15 = raw_data_15[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data16 = raw_data_16[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data17 = raw_data_17[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data18 = raw_data_18[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','LBH','LBD','LBA','WHH','WHD','WHA']]
odds_data19 = raw_data_19[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','PSH','PSD','PSA','WHH','WHD','WHA']]
odds_data20 = raw_data_20[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','PSH','PSD','PSA','WHH','WHD','WHA']]
#odds_data21 = raw_data_21[['Date','HomeTeam','AwayTeam','B365H','B365D','B365A','IWH','IWD','IWA','PSH','PSD','PSA','WHH','WHD','WHA']]

In [77]:
odds_data19.rename(columns={'PSH':'LBH','PSD':'LBD','PSA':'LBA'}, inplace = True)
odds_data20.rename(columns={'PSH':'LBH','PSD':'LBD','PSA':'LBA'}, inplace = True)
#odds_data21.rename(columns={'PSH':'LBH','PSD':'LBD','PSA':'LBA'}, inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [78]:
frames = [odds_data2, odds_data3, odds_data4, odds_data5, odds_data6, odds_data7, \
         odds_data8, odds_data9, odds_data10, odds_data11, odds_data12, odds_data13, \
         odds_data14, odds_data15, odds_data16, odds_data17, odds_data18, odds_data19, odds_data20]

In [79]:
odds_data = pd.concat(frames,ignore_index=True)
odds_data.head()

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,2002-08-17,Blackburn,Sunderland,1.727,3.25,4.333,1.8,3.1,3.8,1.615,3.25,5.00,1.66,3.3,4.50
1,2002-08-17,Charlton,Chelsea,2.800,3.25,2.200,2.9,3.0,2.2,2.800,3.20,2.20,2.75,3.1,2.30
2,2002-08-17,Everton,Tottenham,2.250,3.25,2.750,2.3,3.0,2.7,2.250,3.20,2.75,2.30,3.1,2.75
3,2002-08-17,Fulham,Bolton,1.727,3.25,4.333,1.8,3.1,3.8,1.833,3.20,3.75,1.72,3.2,4.33
4,2002-08-17,Leeds,Man City,1.667,3.40,4.500,1.7,3.2,4.2,1.615,3.50,4.50,1.66,3.3,4.50

In [80]:
odds_data[odds_data['Date']==dt.strptime('2003-05-11', '%Y-%m-%d').date()]

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
370,2003-05-11,Birmingham,West Ham,3.250,3.50,1.909,NaN,NaN,NaN,3.200,3.50,1.909,3.20,3.50,1.90
371,2003-05-11,Bolton,Middlesbrough,1.571,3.60,5.000,NaN,NaN,NaN,1.571,3.50,5.000,1.57,3.50,5.00
372,2003-05-11,Charlton,Fulham,2.100,3.25,3.000,NaN,NaN,NaN,2.100,3.20,3.000,1.90,3.25,3.40
373,2003-05-11,Chelsea,Liverpool,2.375,3.00,2.750,2.1,3.1,3.0,2.200,3.20,2.800,2.50,2.80,2.75
374,2003-05-11,Everton,Man United,2.500,3.40,2.375,NaN,NaN,NaN,2.375,3.50,2.375,2.60,3.40,2.25
375,2003-05-11,Leeds,Aston Villa,1.833,3.25,3.750,NaN,NaN,NaN,1.800,3.25,3.750,1.80,3.30,3.75
376,2003-05-11,Man City,Southampton,1.615,3.40,5.000,NaN,NaN,NaN,1.615,3.50,4.500,1.61,3.50,4.50
377,2003-05-11,Sunderland,Arsenal,5.000,3.40,1.615,NaN,NaN,NaN,4.000,3.40,1.727,4.20,3.50,1.66
378,2003-05-11,Tottenham,Blackburn,2.500,3.50,2.300,NaN,NaN,NaN,3.000,3.20,2.100,2.62,3.50,2.20
379,2003-05-11,West Brom,Newcastle,4.000,3.50,1.727,NaN,NaN,NaN,3.500,3.20,1.909,3.75,3.30,1.80
750,2003-05-11,Birmingham,West Ham,3.250,3.50,1.909,NaN,NaN,NaN,3.200,3.50,1.909,3.20,3.50,1.90
751,2003-05-11,Bolton,Middlesbrough,1.571,3.60,5.000,NaN,NaN,NaN,1.571,3.50,5.000,1.57,3.50,5.00
752,2003-05-11,Charlton,Fulham,2.100,3.25,3.000,NaN,NaN,NaN,2.100,3.20,3.000,1.90,3.25,3.40
753,2003-05-11,Chelsea,Liverpool,2.375,3.00,2.750,2.1,3.1,3.0,2.200,3.20,2.800,2.50,2.80,2.75
754,2003-05-11,Everton,Man United,2.500,3.40,2.375,NaN,NaN,NaN,2.375,3.50,2.375,2.60,3.40,2.25
755,2003-05-11,Leeds,Aston Villa,1.833,3.25,3.750,NaN,NaN,NaN,1.800,3.25,3.750,1.80,3.30,3.75
756,2003-05-11,Man City,Southampton,1.615,3.40,5.000,NaN,NaN,NaN,1.615,3.50,4.500,1.61,3.50,4.50
757,2003-05-11,Sunderland,Arsenal,5.000,3.40,1.615,NaN,NaN,NaN,4.000,3.40,1.727,4.20,3.50,1.66
758,2003-05-11,Tottenham,Blackburn,2.500,3.50,2.300,NaN,NaN,NaN,3.000,3.20,2.100,2.62,3.50,2.20
759,2003-05-11,West Brom,Newcastle,4.000,3.50,1.727,NaN,NaN,NaN,3.500,3.20,1.909,3.75,3.30,1.80

In [81]:
odds_data[odds_data.isnull().T.any()]

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
37,2002-09-03,Man United,Middlesbrough,1.333,4.00,9.000,1.35,4.0,7.0,1.286,4.50,8.000,NaN,NaN,NaN
158,2002-12-02,West Ham,Southampton,2.250,3.25,2.750,NaN,NaN,NaN,2.200,3.25,2.750,2.25,3.20,2.75
357,2003-04-27,Man City,West Ham,2.200,3.40,2.750,NaN,NaN,NaN,2.200,3.50,2.625,2.10,3.50,2.75
366,2003-05-03,Southampton,Bolton,2.375,3.60,2.375,NaN,NaN,NaN,2.625,3.40,2.250,2.40,3.25,2.50
370,2003-05-11,Birmingham,West Ham,3.250,3.50,1.909,NaN,NaN,NaN,3.200,3.50,1.909,3.20,3.50,1.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296,2007-10-28,Tottenham,Blackburn,2.200,3.40,3.250,2.00,3.2,3.3,2.100,3.20,3.000,NaN,NaN,NaN
2939,2009-05-18,Portsmouth,Sunderland,2.100,3.20,3.750,NaN,NaN,NaN,2.000,3.20,3.200,2.20,3.10,3.50
4103,2012-08-25,Man United,Fulham,1.290,5.50,11.000,1.25,5.0,10.0,NaN,NaN,NaN,1.35,4.80,9.00
5198,2015-05-04,Hull,Arsenal,5.500,4.00,1.700,NaN,NaN,NaN,5.250,3.80,1.670,5.50,3.50,1.70
5230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
odds_data = odds_data.dropna(axis=0, how='any')
odds_data.reset_index(drop=True)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,2002-08-17,Blackburn,Sunderland,1.727,3.25,4.333,1.80,3.10,3.80,1.615,3.25,5.00,1.66,3.3,4.50
1,2002-08-17,Charlton,Chelsea,2.800,3.25,2.200,2.90,3.00,2.20,2.800,3.20,2.20,2.75,3.1,2.30
2,2002-08-17,Everton,Tottenham,2.250,3.25,2.750,2.30,3.00,2.70,2.250,3.20,2.75,2.30,3.1,2.75
3,2002-08-17,Fulham,Bolton,1.727,3.25,4.333,1.80,3.10,3.80,1.833,3.20,3.75,1.72,3.2,4.33
4,2002-08-17,Leeds,Man City,1.667,3.40,4.500,1.70,3.20,4.20,1.615,3.50,4.50,1.66,3.3,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6988,2020-07-26,Leicester,Man United,3.250,3.50,2.200,3.15,3.25,2.30,3.250,3.51,2.28,3.20,3.4,2.25
6989,2020-07-26,Man City,Norwich,1.080,11.00,26.000,1.07,12.00,30.00,1.080,13.10,30.22,1.07,15.0,21.00
6990,2020-07-26,Newcastle,Liverpool,7.500,5.25,1.360,7.50,4.80,1.40,7.790,5.07,1.41,8.00,5.0,1.38
6991,2020-07-26,Southampton,Sheffield United,2.150,3.50,3.300,2.20,3.30,3.35,2.180,3.54,3.46,2.15,3.4,3.40
6992,2020-07-26,West Ham,Aston Villa,3.000,3.60,2.300,3.05,3.40,2.30,3.120,3.62,2.31,3.00,3.6,2.30

In [83]:
#Gets all the statistics related to gameplay
                      
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR']

playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req]
playing_statistics_18 = raw_data_18[columns_req]
playing_statistics_19 = raw_data_19[columns_req]
playing_statistics_20 = raw_data_20[columns_req]
#playing_statistics_21 = raw_data_21[columns_req]

** GOALS SCORED AND CONCEDED AT THE END OF MATCHWEEK, ARRANGED BY TEAMS AND MATCHWEEK  **（获取每个球队本赛季的累计进球和失球）

In [84]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat


# Apply to each dataset

playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
playing_statistics_20 = get_gss(playing_statistics_20)
#playing_statistics_21 = get_gss(playing_statistics_21)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
playing_statistics_17.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC
0,2016-08-13,Burnley,Swansea,0,1,A,0,0,0,0
1,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,0,0
2,2016-08-13,Everton,Tottenham,1,1,D,0,0,0,0
3,2016-08-13,Hull,Leicester,2,1,H,0,0,0,0
4,2016-08-13,Man City,Sunderland,2,1,H,0,0,0,0

GET RESPECTIVE POINTS（获取各球队的赛季得分）:

In [86]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat
    
# Apply to each dataset
playing_statistics_16 = get_agg_points(playing_statistics_16)
playing_statistics_17 = get_agg_points(playing_statistics_17)
playing_statistics_18 = get_agg_points(playing_statistics_18)
playing_statistics_19 = get_agg_points(playing_statistics_19)
playing_statistics_20 = get_agg_points(playing_statistics_20)
#playing_statistics_21 = get_agg_points(playing_statistics_21)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
playing_statistics_20

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP
0,2019-08-09,Liverpool,Norwich,4,1,H,0,0,0,0,0,0
1,2019-08-10,West Ham,Man City,0,5,A,0,0,0,0,0,0
2,2019-08-10,Bournemouth,Sheffield United,1,1,D,0,0,0,0,0,0
3,2019-08-10,Burnley,Southampton,3,0,H,0,0,0,0,0,0
4,2019-08-10,Crystal Palace,Everton,0,0,D,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
375,2020-07-26,Leicester,Man United,0,2,A,67,64,39,36,62,63
376,2020-07-26,Man City,Norwich,5,0,H,97,26,35,70,78,21
377,2020-07-26,Newcastle,Liverpool,1,3,A,37,82,55,32,44,96
378,2020-07-26,Southampton,Sheffield United,3,1,H,48,38,59,36,49,54
379,2020-07-26,West Ham,Aston Villa,1,1,D,48,40,61,66,38,34

GET TEAM FORM:

In [88]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics    
    
# Make changes to df
playing_statistics_16 = add_form_df(playing_statistics_16)
playing_statistics_17 = add_form_df(playing_statistics_17)
playing_statistics_18 = add_form_df(playing_statistics_18)
playing_statistics_19 = add_form_df(playing_statistics_19)    
playing_statistics_20 = add_form_df(playing_statistics_20)
#playing_statistics_21 = add_form_df(playing_statistics_21)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [89]:
playing_statistics_20.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'AM1', 'HM2', 'AM2', 'HM3', 'AM3',
       'HM4', 'AM4', 'HM5', 'AM5'],
      dtype='object')

In [90]:
# Rearranging columns
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' ]

playing_statistics_16 = playing_statistics_16[cols]
playing_statistics_17 = playing_statistics_17[cols]
playing_statistics_18 = playing_statistics_18[cols]
playing_statistics_19 = playing_statistics_19[cols]
playing_statistics_20 = playing_statistics_20[cols]
#playing_statistics_21 = playing_statistics_21[cols]

Get Last Year's Position as also an independent variable:

In [91]:
Standings = pd.read_csv(loc + "EPLStandings.csv")
Standings.set_index(['Team'], inplace=True)
Standings = Standings.fillna(18)

def get_last(playing_stat, Standings, year):
    HomeTeamLP = []
    AwayTeamLP = []
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HomeTeamLP.append(Standings.loc[ht][year])
        AwayTeamLP.append(Standings.loc[at][year])
    playing_stat['HomeTeamLP'] = HomeTeamLP
    playing_stat['AwayTeamLP'] = AwayTeamLP
    return playing_stat

playing_statistics_16 = get_last(playing_statistics_16, Standings, 15)
playing_statistics_17 = get_last(playing_statistics_17, Standings, 16)
playing_statistics_18 = get_last(playing_statistics_18, Standings, 17)
playing_statistics_19 = get_last(playing_statistics_19, Standings, 18)
playing_statistics_20 = get_last(playing_statistics_20, Standings, 19)
#playing_statistics_21 = get_last(playing_statistics_21, Standings, 20)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
playing_statistics_20

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5,HomeTeamLP,AwayTeamLP
0,2019-08-09,Liverpool,Norwich,4,1,H,0,0,0,0,...,M,M,M,M,M,M,M,M,2.0,18.0
1,2019-08-10,West Ham,Man City,0,5,A,0,0,0,0,...,M,M,M,M,M,M,M,M,10.0,1.0
2,2019-08-10,Bournemouth,Sheffield United,1,1,D,0,0,0,0,...,M,M,M,M,M,M,M,M,14.0,18.0
3,2019-08-10,Burnley,Southampton,3,0,H,0,0,0,0,...,M,M,M,M,M,M,M,M,15.0,16.0
4,2019-08-10,Crystal Palace,Everton,0,0,D,0,0,0,0,...,M,M,M,M,M,M,M,M,12.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2020-07-26,Leicester,Man United,0,2,A,67,64,39,36,...,L,D,W,D,W,D,W,W,9.0,6.0
376,2020-07-26,Man City,Norwich,5,0,H,97,26,35,70,...,W,W,L,L,L,L,L,L,1.0,18.0
377,2020-07-26,Newcastle,Liverpool,1,3,A,37,82,55,32,...,L,L,D,W,L,D,W,W,13.0,2.0
378,2020-07-26,Southampton,Sheffield United,3,1,H,48,38,59,36,...,D,D,W,L,L,W,W,D,16.0,18.0
379,2020-07-26,West Ham,Aston Villa,1,1,D,48,40,61,66,...,W,L,D,W,D,W,L,L,10.0,18.0

Get MatchWeek:

In [93]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

playing_statistics_16 = get_mw(playing_statistics_16)
playing_statistics_17 = get_mw(playing_statistics_17)
playing_statistics_18 = get_mw(playing_statistics_18)
playing_statistics_19 = get_mw(playing_statistics_19)
playing_statistics_20 = get_mw(playing_statistics_20)
#playing_statistics_21 = get_mw(playing_statistics_21)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

FINAL DATAFRAME

In [94]:
playing_stat = pd.concat([playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,
                          playing_statistics_20
                          #,playing_statistics_21
                         ], ignore_index=True)


# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'HomeTeamLP', 'AwayTeamLP', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [95]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in last year positions
playing_stat['DiffLP'] = playing_stat['HomeTeamLP'] - playing_stat['AwayTeamLP']

In [96]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [97]:
def only_hw(string):
    if string == 'H':
        return 'H'
    else:
        return 'NH'
    
playing_stat['FTR'] = playing_stat.FTR.apply(only_hw)

# Testing set (2015-16 season)
#playing_stat_test = playing_stat[5700:]

In [98]:
playing_stat.iloc[ 10:20, :]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
10,2016-08-19,Man United,Southampton,2,0,H,3,1,1,1,...,0,0,0,0,0,1.0,0.0,1.0,1.0,-1.0
11,2016-08-20,Burnley,Liverpool,2,0,H,0,4,1,3,...,0,0,0,0,0,-0.5,0.5,-1.5,-1.5,10.0
12,2016-08-20,Leicester,Arsenal,0,0,NH,1,3,2,4,...,0,0,0,0,0,-0.5,-0.5,0.0,0.0,-1.0
13,2016-08-20,Stoke,Man City,1,4,NH,1,2,1,1,...,0,0,0,0,0,0.0,0.5,-1.0,-1.0,5.0
14,2016-08-20,Swansea,Hull,0,2,NH,1,2,0,1,...,0,0,0,0,0,0.5,0.5,0.0,0.0,-6.0
15,2016-08-20,Tottenham,Crystal Palace,1,0,H,1,0,1,1,...,0,0,0,0,0,0.0,-0.5,0.5,0.5,-12.0
16,2016-08-20,Watford,Chelsea,1,2,NH,1,2,1,1,...,0,0,0,0,0,0.0,0.5,-1.0,-1.0,3.0
17,2016-08-20,West Brom,Everton,1,2,NH,1,1,0,1,...,0,0,0,0,0,0.5,0.0,1.0,1.0,3.0
18,2016-08-21,Sunderland,Middlesbrough,1,2,NH,1,1,2,1,...,0,0,0,0,0,-0.5,0.0,-0.5,-0.5,-1.0
19,2016-08-21,West Ham,Bournemouth,1,0,H,1,1,2,3,...,0,0,0,0,0,-0.5,-1.0,0.0,0.0,-9.0

In [99]:
pre_dataset = pd.read_csv('../input/football-results-and-betting-odds-data-of-epl/final_dataset.csv')
def parse_date_other2(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d').date()
pre_dataset.Date = pre_dataset.Date.apply(parse_date_other2)

In [100]:
pre_dataset.tail()

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
6075,6075,2016-05-15,Stoke,West Ham,2,1,H,39,64,54,...,0,0,0,0,0,-0.394737,0.394737,-0.368421,-0.236842,-3.0
6076,6076,2016-05-15,Swansea,Man City,1,1,NH,41,70,51,...,0,0,0,0,0,-0.263158,0.789474,-0.500000,0.026316,6.0
6077,6077,2016-05-15,Watford,Sunderland,2,2,NH,38,46,48,...,0,0,0,0,0,-0.263158,-0.368421,0.157895,-0.131579,2.0
6078,6078,2016-05-15,West Brom,Liverpool,1,1,NH,33,62,47,...,0,0,0,0,0,-0.368421,0.342105,-0.447368,-0.157895,7.0
6079,6079,2016-05-17,Man United,Bournemouth,3,1,H,46,44,34,...,0,0,0,0,0,0.315789,-0.526316,0.552632,0.157895,-14.0

In [101]:
final_dataset_without_odds = pd.concat([pre_dataset, playing_stat], ignore_index=True)

In [102]:
final_dataset_without_odds = final_dataset_without_odds.drop(columns=['Unnamed: 0'])
final_dataset_without_odds

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,2000-08-19,Charlton,Man City,4,0,H,0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0
1,2000-08-19,Chelsea,West Ham,4,2,H,0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-4.0
2,2000-08-19,Coventry,Middlesbrough,1,3,NH,0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,2.0
3,2000-08-19,Derby,Southampton,2,2,NH,0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.0
4,2000-08-19,Leeds,Everton,2,0,H,0,0,0,0,...,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,2020-07-26,Leicester,Man United,0,2,NH,67,64,39,36,...,0,0,0,0,0,0.736842,0.736842,-0.026316,-0.105263,3.0
7596,2020-07-26,Man City,Norwich,5,0,H,97,26,35,70,...,0,0,0,1,1,1.631579,-1.157895,1.500000,0.315789,-17.0
7597,2020-07-26,Newcastle,Liverpool,1,3,NH,37,82,55,32,...,0,0,0,0,0,-0.473684,1.315789,-1.368421,-0.210526,11.0
7598,2020-07-26,Southampton,Sheffield United,3,1,H,48,38,59,36,...,0,0,0,0,0,-0.289474,0.052632,-0.131579,0.052632,-2.0
7599,2020-07-26,West Ham,Aston Villa,1,1,NH,48,40,61,66,...,0,0,0,0,0,-0.342105,-0.684211,0.105263,0.026316,-8.0

In [103]:
final_data = pd.merge(final_dataset_without_odds, odds_data, on=('Date','HomeTeam','AwayTeam'), how='left')

In [104]:
final_data = final_data.drop_duplicates()

In [105]:
final_data[final_data['Date']==dt.strptime('2002-08-17', '%Y-%m-%d').date()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
760,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,0,...,4.333,1.8,3.1,3.8,1.615,3.25,5.00,1.66,3.3,4.50
762,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,0,...,2.200,2.9,3.0,2.2,2.800,3.20,2.20,2.75,3.1,2.30
764,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,0,...,2.750,2.3,3.0,2.7,2.250,3.20,2.75,2.30,3.1,2.75
766,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,0,...,4.333,1.8,3.1,3.8,1.833,3.20,3.75,1.72,3.2,4.33
768,2002-08-17,Leeds,Man City,3,0,H,0,0,0,0,...,4.500,1.7,3.2,4.2,1.615,3.50,4.50,1.66,3.3,4.50
770,2002-08-17,Man United,West Brom,1,0,H,0,0,0,0,...,12.000,1.2,5.0,10.0,1.200,5.00,11.00,1.20,5.0,11.00
772,2002-08-17,Southampton,Middlesboro,0,0,NH,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
final_dataset_without_odds[final_dataset_without_odds['Date']==dt.strptime('2002-08-17', '%Y-%m-%d').date()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
760,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-7.0
761,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,8.0
762,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,6.0
763,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-3.0
764,2002-08-17,Leeds,Man City,3,0,H,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-13.0
765,2002-08-17,Man United,West Brom,1,0,H,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-15.0
766,2002-08-17,Southampton,Middlesboro,0,0,NH,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-1.0

In [107]:
odds_data[odds_data['Date']==dt.strptime('2003-05-11', '%Y-%m-%d').date()]

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
373,2003-05-11,Chelsea,Liverpool,2.375,3.0,2.75,2.1,3.1,3.0,2.2,3.2,2.8,2.5,2.8,2.75
753,2003-05-11,Chelsea,Liverpool,2.375,3.0,2.75,2.1,3.1,3.0,2.2,3.2,2.8,2.5,2.8,2.75

In [108]:
final_data[final_data.isnull().T.any()].iloc[800:900,:]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
1460,2003-05-11,Birmingham,West Ham,2,2,NH,39,40,47,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,2003-05-11,Bolton,Middlesboro,2,1,H,39,47,50,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,2003-05-11,Charlton,Fulham,0,1,NH,45,40,55,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465,2003-05-11,Everton,Man United,1,2,NH,47,72,47,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,2003-05-11,Leeds,Aston Villa,3,1,H,55,41,56,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,2005-05-15,Man City,Middlesbrough,1,1,NH,46,52,38,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,2005-05-15,Newcastle,Chelsea,1,1,NH,46,71,56,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2005-05-15,Southampton,Man United,1,2,NH,44,56,64,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,2005-05-15,Tottenham,Blackburn,0,0,NH,47,32,41,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,2005-05-15,West Brom,Portsmouth,2,0,H,34,43,61,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
final_data = final_data.dropna(axis=0, how='any')
final_data = final_data.reset_index(drop=True)
final_data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,0,...,4.333,1.80,3.10,3.80,1.615,3.25,5.00,1.66,3.3,4.50
1,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,0,...,2.200,2.90,3.00,2.20,2.800,3.20,2.20,2.75,3.1,2.30
2,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,0,...,2.750,2.30,3.00,2.70,2.250,3.20,2.75,2.30,3.1,2.75
3,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,0,...,4.333,1.80,3.10,3.80,1.833,3.20,3.75,1.72,3.2,4.33
4,2002-08-17,Leeds,Man City,3,0,H,0,0,0,0,...,4.500,1.70,3.20,4.20,1.615,3.50,4.50,1.66,3.3,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6585,2020-07-26,Leicester,Man United,0,2,NH,67,64,39,36,...,2.200,3.15,3.25,2.30,3.250,3.51,2.28,3.20,3.4,2.25
6586,2020-07-26,Man City,Norwich,5,0,H,97,26,35,70,...,26.000,1.07,12.00,30.00,1.080,13.10,30.22,1.07,15.0,21.00
6587,2020-07-26,Newcastle,Liverpool,1,3,NH,37,82,55,32,...,1.360,7.50,4.80,1.40,7.790,5.07,1.41,8.00,5.0,1.38
6588,2020-07-26,Southampton,Sheffield United,3,1,H,48,38,59,36,...,3.300,2.20,3.30,3.35,2.180,3.54,3.46,2.15,3.4,3.40
6589,2020-07-26,West Ham,Aston Villa,1,1,NH,48,40,61,66,...,2.300,3.05,3.40,2.30,3.120,3.62,2.31,3.00,3.6,2.30

In [110]:
#final_data[600:]

In [111]:
final_data_test = final_data[6000:]

In [112]:
final_data_test = final_data_test.reset_index(drop=True)
final_data_test

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,2018-12-21,Wolves,Liverpool,0,2,NH,19,37,19,7,...,1.57,6.00,4.00,1.57,6.85,4.04,1.59,6.50,3.90,1.55
1,2018-12-22,Arsenal,Burnley,3,1,H,37,15,23,33,...,15.00,1.25,6.10,11.00,1.23,6.40,14.96,1.22,6.00,15.00
2,2018-12-22,Bournemouth,Brighton,2,0,H,25,20,28,24,...,4.33,1.85,3.60,4.30,1.95,3.55,4.40,1.91,3.50,4.20
3,2018-12-22,Cardiff,Man United,1,5,NH,17,29,33,29,...,1.57,5.80,4.05,1.57,6.27,4.10,1.62,6.00,4.00,1.57
4,2018-12-22,Chelsea,Leicester,0,1,NH,35,21,14,21,...,11.00,1.35,5.30,8.00,1.33,5.42,11.37,1.30,5.25,11.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2020-07-26,Leicester,Man United,0,2,NH,67,64,39,36,...,2.20,3.15,3.25,2.30,3.25,3.51,2.28,3.20,3.40,2.25
586,2020-07-26,Man City,Norwich,5,0,H,97,26,35,70,...,26.00,1.07,12.00,30.00,1.08,13.10,30.22,1.07,15.00,21.00
587,2020-07-26,Newcastle,Liverpool,1,3,NH,37,82,55,32,...,1.36,7.50,4.80,1.40,7.79,5.07,1.41,8.00,5.00,1.38
588,2020-07-26,Southampton,Sheffield United,3,1,H,48,38,59,36,...,3.30,2.20,3.30,3.35,2.18,3.54,3.46,2.15,3.40,3.40
589,2020-07-26,West Ham,Aston Villa,1,1,NH,48,40,61,66,...,2.30,3.05,3.40,2.30,3.12,3.62,2.31,3.00,3.60,2.30

In [115]:
final_data = final_data[0:6000]
final_data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,0,...,4.333,1.80,3.1,3.80,1.615,3.25,5.00,1.66,3.30,4.50
1,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,0,...,2.200,2.90,3.0,2.20,2.800,3.20,2.20,2.75,3.10,2.30
2,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,0,...,2.750,2.30,3.0,2.70,2.250,3.20,2.75,2.30,3.10,2.75
3,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,0,...,4.333,1.80,3.1,3.80,1.833,3.20,3.75,1.72,3.20,4.33
4,2002-08-17,Leeds,Man City,3,0,H,0,0,0,0,...,4.500,1.70,3.2,4.20,1.615,3.50,4.50,1.66,3.30,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,2018-12-15,Watford,Cardiff,3,2,H,20,15,23,30,...,6.000,1.70,3.8,5.00,1.630,3.99,6.37,1.60,3.90,6.00
5996,2018-12-15,Wolves,Bournemouth,2,0,H,17,25,19,26,...,4.330,2.00,3.4,3.80,2.020,3.48,4.20,1.95,3.50,4.00
5997,2018-12-16,Brighton,Chelsea,1,2,NH,19,33,22,13,...,1.500,7.20,4.4,1.45,7.640,4.37,1.51,7.00,4.33,1.47
5998,2018-12-16,Liverpool,Man United,3,1,H,34,28,6,26,...,6.000,1.65,4.0,5.10,1.530,4.51,6.76,1.52,4.33,6.00
5999,2018-12-16,Southampton,Arsenal,3,2,H,13,35,30,20,...,1.900,3.75,3.8,1.90,3.870,3.90,1.98,3.90,3.75,1.91

In [116]:
final_data.to_csv("final_dataset_with_odds.csv")
final_data_test.to_csv("with_odds_test.csv")